
name: Deploy to Proxmox

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create .env file for Docker Compose
        run: |
          echo "NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}" > .env

      - name: Build and Deploy with Docker Compose
        run: |
          docker compose build --no-cache
          docker compose up -d

      - name: Run database migrations
        run: |
          docker compose exec -T app npx prisma db push --accept-data-loss
